.main_div {
    width: 60%;
    height: 100px;
    border-radius: 20px;
    -moz-border-radius: 0px;
    background-color: white;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
    padding: 10px;
    padding-top: 20px;
}
.col_div {
    display:flex;
    justify-content: space-around;
}

.main_div h1 {
    margin-left: 10px;
    font-weight: 1.5rem;
    font-size: 24px;
}

.col_div label {
    margin-bottom: 20px;
    font-weight: 1.1rem;
    font-size: 16px;
}

.col_div input {
    margin-left: 20px;
    margin-bottom: 20px;
    font-weight: 1.1rem;
    font-size: 14px;
}


