.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    margin: 0 auto;
    margin-top: 200px;
}

.gridItem {
    background-color: #4CAF50;
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

