
.main_div {
    width: 90%;
    border-radius: 20px;
    -moz-border-radius: 0px;
    background-color: white;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
    padding: 10px;
}
.col_div {
    display:flex;
    justify-content: space-around;
}
.sub_div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: first baseline;
}

.main_div h1 {
    margin-left: 10px;
    font-weight: 1.5rem;
    font-size: 24px;
}

.col_div label {
    margin-bottom: 0px;
    font-weight: 1.1rem;
    font-size: 16px;
    padding-bottom: 5px;
}

.col_div input {
    margin-left: 0px;
    margin-bottom: 0px;
    font-weight: 1.1rem;
    font-size: 14px;
    padding: 0px;
}
.but_cert{
    width: 30%;
    margin-left: 10px;
}
